.col-2{
    margin-left: 40%;
    font-size: 25px;
}
.text-info{
    text-align: center;
    font-size: 80px;
    font-weight: initial;
    margin-bottom: 5%;
}
.btn{
    margin-left: 45.4%;
    margin-top: 2.5%;
}
